/*-----------------------------------------------------------------
Colors
#050203 Rich Black FOGRA 39
#F2F4FF Ghost White
#191919 Eerie Black
#FFF5EA Seashell
#FAFFFD Baby Powder
#12130F Smoky Black
#6E7271 Nickel
#00A6FB Blue Jeans
#FB3640 Red Salsa
#F6AE2D Honey Yellow
#791E94 Violet RYB
#56876D Viridian
#E7E2D8 Alabaster
#91785D Chamoisee
#717744 Reseda Green
-----------------------------------------------------------------*/

body {
    margin: 0;
	font-family: 'Archivo', Helvetica, Arial, sans-serif;
	font-size: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
	margin: 0;
}

h2 {
    font-family: 'Archivo', Helvetica, Arial, sans-serif; 
    font-size: 1.5em;
    padding: 0;
    font-weight: 600;
}

h1 {
    font-family: 'Archivo', Helvetica, Arial, sans-serif; 
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    color: black;
}

p {
	margin: 0;
	padding: 1em 0;
}

ol,ul {
	list-style:none;
}

.hero {
	display: block;
	border: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.hero-web {
    background-image: url('images/webBanner800.jpg');
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 45%;
    margin-left: 4em;
    max-width: 30%;
    background: #F2F4FF;
    padding: 1em 2em;
}



/* Navigation */
nav {
    background: #00364F;
    width: 100%;
    z-index: 1000;
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    overflow: auto;
    height: auto;
    padding: 1em;
    color: white;
}

nav a {
    text-decoration: none;
    color: #F2F4FF;
    letter-spacing: .1em;
    margin: 0 1em;
}

nav a:hover {
    opacity: .5;
    transition: .5s;
}

.left {
    margin-left: 1em;
    flex:1 1 200px;
}

nav ul {
    list-style-type: none;
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0 1em;
    
} 

.right {
    text-align: right;
    margin-right: 3em;
}

nav ul li {
    position: relative;
    padding: 0 1em;
    margin: 0 1em;
}

nav ul li a {
    cursor: pointer;
}

/* Main section */



/* Footer section */
footer {
	padding: 2em;
	background: #333;
	color: #F2F4FF;
    text-align: center;
}

footer a {
    color: #F2F4FF;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0 .5em;
}

footer a:hover {
    color: #23617e;
    transition: .6s;
}

footer li {
    list-style-type: none;
    display: inline;
    font-size: 1.2em;
}

footer li a {
    font-size: 1em;
}

.site {
    max-width: 100%;
    display: block;
}

.wrapper {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 0;
}

.wrapper img {
    max-width: 100vw;
}

#biltmore {
    background-image: url('images/biltmore_night05.jpg');
    background-position: bottom center !important;
}

#stokes {
    background-image: url('images/stokes_hanging_rock_05.jpg');
    /*background-position: center center !important;*/
}

#semmens {
    background-image: url('images/semmens-park-03.jpg');
    /*background-position: center center !important;*/
}

#rcl {
    background-image: url('images/RCL_BG05.jpg');
    /*background-position: center center !important;*/
}

#biltmore-hero {
    background-image: url('images/Biltmore-BG3.png');
    background-position: center right !important;
}

#stokes-hero {
    background-image: url('images/Stokes-BG2.png');
    background-position: center right !important;
}

#semmens-hero {
    background-image: url('images/Semmens-BG.png');
    background-position: center right !important;
}

#rcl-hero {
    background-image: url('images/RCL-BG2.png');
    background-position: center right !important;
}

.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    height: 33vh;
    /*max-height: 400px;*/
    min-width: 100vw;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.banner-portfolio {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    height: 50vh;
    /*max-height: 400px;*/
    min-width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5em 0;
}

#stokes1 {
    background: linear-gradient(165deg, #6C98C5, #6C98C5 35%, #D0D6D4 35%, #D0D6D4);
}

#biltmore1 {
    background: linear-gradient(165deg, #444444, #444444 35%, #D2AF76 35%, #D2AF76);
    /*background: linear-gradient(165deg, #d2af76 10%, #444 10%, #444444 10%, #444, #444444 35%, #D2AF76 35%, #D2AF76, #D2af76 60%, #d2af76, #444 60%, #444 85%, #d2af76 85%)*/
    background: linear-gradient(165deg, #444, #444444 35%, #D2AF76 35%, #D2AF76, #D2af76 60%, #d2af76, #444 60%)
}

#rcl1 {
    background: linear-gradient(165deg, #C1272D, #C1272D 35%, #2E3D96 35%, #2E3D96);
}

#semmens1 {
    background: linear-gradient(165deg, #07B, #07B 35%, #009446 35%, #009446 35%,#FECC10 35%, #FEAF10)
}

.portfolio-phone {
    width: 50vw;
    text-align: center;
}

.portfolio-laptop {
    width: 50vw;
    text-align: center;
}

.portfolio-desktop {
    width: 50vw;
    text-align: center;
}

.portfolio-phone img {
    max-width: 40%;
    max-height: 100%;
    margin-left: -4em;
}

.portfolio-laptop img {
    width: 50vw;
    max-height: 100%;
}

.portfolio-desktop img {
    width: 50vw;
    max-height: 100%;
}

.banner-phone {
    width: 20%;
}

.banner-text {
    text-align: center;
    /*position: absolute;
    margin-left: 35%;
    margin-top: 1em;*/
    width: 40%;
    align-self: center;
    display: flex;
    justify-content: center;    
}

.textbox {
    width: 80%;
    background: rgba(255, 255, 255, 0.85);
    padding: 1em 2em;
}

.banner-icon {
    width: 20%;
    align-self: center;
    text-align: center;
    color: white;
    font-weight: 700;
}

.banner-icon p {
    margin: 0 -3em 0 0;
    padding: 0;
}

.banner-icon img {
    width: 100px;
    margin: 0 -3em 0 0;
}

.phone {
    height: 100%; 
    object-fit: contain;
    /*margin-left: 50%;*/
    margin-left: -3em;
}

.arrow {
    width:100px;
    height:auto;
    position: absolute;
    bottom: 2em;
    left: 50%;
    margin-left: -50px;
}

.arrow:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #333;
	color: #F2F4FF;
    border: 1px solid #F2F4FF;
    border-radius: 5px;
  }
   
.button:hover {
    background-color: #222;
    color: white;
    border: 1px solid#333;
  }

.button a {
    font-size: 1em;
}

.button a:hover {
    color: white;
}

.button-white {
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #23617e;
	color: #F2F4FF;
    border: 1px solid #00364F;
    border-radius: 5px;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
   
.button-white:hover {
    background-color: #191919;
    color: #FFF;
    border: 1px solid black;
  }

.button-white a {
    font-size: 1em;
    text-decoration: none;
    color: #F2F4FF;
}

.button-white a:visited {
    color: #EEE;
}

@media screen and (max-width: 600px) {

}